<!DOCTYPE html>
<html lang="ko">
<head>
	<title>SELECT price FROM book</title>
	<style>
      h1 {
			color: red;
		}
	</style>
</head>
<body>
	<center>
		<h1>SELECT price FROM book</h1>
		<table border="1">
			<tr>
				<td>가격</td>
			</tr>
			<%
			for(var i=0; i<rows.length; i++)
			{
				var data = rows[i];
			%>
			<tr>
				<td><%=data.price%></td>
			</tr>
			<%}%>
		</table>
	</center>
</body>
</html>
